extends layout

block content
  div.container
   div.jumbotron
      div.page-header 
       h1 #{title}
      p This website as well as the proet, created with one purpose, to obtain a good evaluation. 
      p On this site you can view the news from the s13 to the off-line, minimalist design situations when you save them to your database. 
      p So, let's start?
      p
      a(href = 'http://localhost:3000/update' class="btn btn-success btn-lg") Update
      p
      a(href = 'http://localhost:3000/news' class="btn btn-warning btn-lg") News